@use 'sass:color';

$colors: (
  primary: (
    100: hsl(210, 100%, 86%),
    200: hsl(210, 100%, 66%),
    300: hsl(210, 100%, 51%),
    400: hsl(210, 100%, 31%),
    500: hsl(210, 100%, 25%),
    600: hsl(210, 100%, 15%),
    700: hsl(210, 100%, 10%)
  ),
  secondary: (
    300: hsl(76, 78%, 33%),
    400: hsl(76, 78%, 43%),
    500: hsl(76, 78%, 53%)
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 95%),
    300: hsl(0, 0%, 80%),
    400: hsl(0, 0%, 50%),
    500: hsl(0, 0%, 40%),
    600: hsl(0, 0%, 15%),
    700: hsl(0, 0%, 0%)
  ),
  "yellow":(
    400: hsl(48, 94%, 67%),
    500: hsl(48, 94%, 37%),
  )
);
